*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-menu-items {
  background: coral;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  display: inline-block;
}
