*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  background: var(--secondary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

/* Navbar  */
.navbar {
  background: transparent;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem 3rem;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 81px;
  height: 32px;
}

.main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1.5rem;
  font-weight: 700;
}

.navbar a {
  color: #fff;
  font-weight: 700;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar i {
  font-size: 1.5rem;
}

/* Hero section  */

.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  color: #fff;
  padding: 11.5rem 2rem 8rem;
  overflow-x: hidden;
  position: relative;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  margin-bottom: 8rem;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero img {
  width: 100%;
}

/* Frame Decoration  */
.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* Learn Section  */
.section-header {
  max-width: 750px;
  margin-bottom: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--dark-color);
}

.section-header .heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}

.section-header p {
  font-size: 1.3rem;
  columns: var(--dark-color);
}

.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.topic-img {
  /* width: 100%; */
  transition: transform 0.3s;
}

.topic-img:hover {
  transform: scale(1.1);
}

.topic-text h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
