*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  background: var(--secondary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

/* Text Classes  */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.section {
  margin: 4rem 0;
}

/* Navbar  */
.navbar {
  background: transparent;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem 3rem;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

/* Change navbar background on scroll */
.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 81px;
  height: 32px;
}

.main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1.5rem;
  font-weight: 700;
}

.navbar a {
  color: #fff;
  font-weight: 700;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar i {
  font-size: 1.5rem;
}

/* Mobile Menu  */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* Hero section  */

.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  color: #fff;
  padding: 11.5rem 2rem 8rem;
  overflow-x: hidden;
  position: relative;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  margin-bottom: 8rem;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero img {
  width: 100%;
}

/* Frame Decoration  */
.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* Learn Section  */
.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--dark-color);
}

.section-header .heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}

.section-header p {
  font-size: 1.3rem;
  columns: var(--dark-color);
}

.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.topic-img {
  /* width: 100%; */
  transition: transform 0.3s;
}

.topic-img:hover {
  transform: scale(1.1);
}

.topic-text h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

/* Course Chapter  */
.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0 4rem;
}

.chapters h2 {
  margin-top: 3rem;
}

.chapter-cards img {
  width: 130px;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1.7rem;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.chapter-cards h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

/* Summary  */
.summary {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
}

.summary .lists {
  background: #fff;
  padding: 2rem;
}

.summary .list-header {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.summary .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
}

.summary .list-item:last-child {
  border-bottom: none;
}

/* Info Section  */
.info-container {
  background: url("../images/audience.jpg") top center/cover no-repeat;
  display: flex;
}

.info-content {
  background-color: var(--primary-color);
  color: #fff;
  flex: 1;
  padding: 4rem;
}

.info-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}

.info-content i {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}
.info-left {
  width: 50%;
}

/* Takeaways  */
.takeaways-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.5rem 0;
}

.takeaways-cards .card {
  flex-direction: row;
  text-align: left;
}

.takeaways-cards .card i {
  margin-right: 1rem;
}

/* Details  */

.details,
.details-flex {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.details img {
  width: 100%;
  max-width: 500px;
}

.details h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.details .heading-border {
  margin: 0;
}

.details p {
  margin: 1rem 0 2rem;
}

/* Author  */
.details + .details .details-flex {
  flex-direction: row-reverse;
}

.details ul {
  margin-bottom: 2rem;
}

.details ul li {
  line-height: 2;
}

.details i {
  margin-right: 0.5rem;
}
/* Media Queries  */
@media (max-width: 768px) {
  .main-menu-items,
  .info-left {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }
  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
}
